@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

* {
    box-sizing: border-box;
}

/* html {
    background-color: darkcyan;
} */
body {
    display: flex;
    justify-content: center;
}

button {
    font-family: "Graduate", serif;
    font-weight: 400;
    font-style: normal;
}

#calculator {
    background-color: black;
    display: flex;
    flex-direction: column;
    font-family: "Graduate", serif;
    font-weight: 400;
    font-style: normal;
    gap: 2px;
    padding: 10px;
    width: fit-content;
}
#display {
    background-color: gray;
    display: flex;
    height: 100px;
    justify-content: right;
    padding: 10px;
    width: 406px;
}

.displaytext{
    align-self: center;
    font-size: 50px;
}

#clearandbackspace {
    display: flex;
    gap: 2px;
}

#clearandbackspace > * {
    height: 75px;
    margin-top: 2px;
    width: 202px;
}

#numbersandoperators > * {
    display: flex;
    gap: 2px;
}
.lines > * {
    height: 75px;
    margin-top: 2px;
    width: 100px;
}